{% extends './partials/layout.twig' %}
{% block title %}Index{% endblock %}
{% block content %}

    <h1>Index<h1>
    <button class="button is-dark">cOOl Button</button>
    <button class="button is-link">CooL Button</button>
    <button class="button is-primary">Cool Button</button>
    <div class="notification is-primary">
    <button class="delete"></button>
    Primar lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
    </div>

{% endblock %}
