<nav>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./gallery.html">Gallery</a></li>
        <li><a href="./contacts.html">Contacts</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>
<nav>