$primary: rgb(59, 109, 105);
@import "../node_modules/bulma/bulma.sass";
$bgcolor:  rgb(44, 44, 155);

html, body {
  background-image: url(https://img.freepik.com/free-vector/watermelon-seeds-background_1409-1016.jpg?w=360);
}